@font-face {
  font-family: "TT Hoves";
  src: url("../../fonts/TT-Hoves-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TT Hoves";
  src: url("../../fonts/TT-Hoves-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Hoves";
  src: url("../../fonts/TT-Hoves-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.active::after, .active::before, .nav-link::after, .nav-link::before {
  content: "";
  position: absolute;
  height: 0.971px;
  width: 100%;
  background-color: #333;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-secondary, .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 29.5px;
  padding-bottom: 29.5px;
  gap: 12px;
  width: 222px;
  background-color: #FFF;
  color: #333;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  cursor: pointer;
}

body {
  background-color: #FFF;
  color: #333;
  font-family: "TT Hoves Pro", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 135px;
    padding-right: 135px;
  }
}

.section {
  padding: 60px 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.button {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button svg {
  fill: currentColor;
}
.button:hover, .button:focus {
  color: #FFF;
  background-color: #000;
}

.button-secondary {
  margin-left: auto;
  padding-top: 28.5px;
  padding-bottom: 28.5px;
  border: 1px solid #333;
  color: #FFF;
  background-color: #333;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-secondary svg {
  fill: currentColor;
}
.button-secondary:hover, .button-secondary:focus {
  color: #333;
  background-color: #FFF;
}

.section-title {
  color: #BDBDBD;
  font-weight: 300;
  font-size: 64px;
  line-height: 1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1439px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    gap: 330px;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.nav-link {
  display: block;
  padding-top: 45px;
  padding-bottom: 45px;
  color: #333;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  position: relative;
}
.nav-link::before {
  top: 35%;
}
.nav-link::after {
  bottom: 35%;
  left: 0;
}
.nav-link:hover::before, .nav-link:hover::after, .nav-link:focus::before, .nav-link:focus::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.active::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  top: 35%;
}
.active::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  bottom: 35%;
  left: 0;
}

.presentation-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FBFBFB;
}
@media screen and (min-width: 1440px) {
  .presentation-wrap {
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 70px;
    gap: 30px;
  }
}

.presentation-gallery {
  display: grid;
}
@media screen and (min-width: 1440px) {
  .presentation-gallery {
    grid-column-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 570px;
  }
}

.gallery-column {
  display: grid;
  grid-row-gap: 30px;
}

@media screen and (min-width: 1440px) {
  .presentation-desc {
    max-width: 400px;
  }
}

.desc-text {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #000;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.services-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.list-item-number {
  color: #F2F2F2;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 900;
  font-size: 200px;
  line-height: 1;
}

@media screen and (min-width: 1440px) {
  .list-item-desc {
    width: 279px;
    color: #333;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.6;
  }
  .list-item-desc--extended {
    width: 420px;
  }
}

.projects-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.project-thumb {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.project-thumb .overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 48px;
  padding-bottom: 79px;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.8);
}

.project-thumb:hover .overlay,
.link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay-title {
  margin-bottom: 14px;
  color: #FFF;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.overlay-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  color: #FFF;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}
.overlay-link svg {
  fill: currentColor;
}
.overlay-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #FFF;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.overlay-link:hover::before, .overlay-link:hover::after, .overlay-link:focus::before, .overlay-link:focus::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}/*# sourceMappingURL=main.css.map */