.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media screen and (min-width: $desktop) {
    padding-right: 126px;
  }
}

.menu-button {
  .icon-cross {
    display: none;
  }

  &.is-open {
    .icon-cross {
      display: block;
    }

    .icon-menu {
      display: none;
    }
  }
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    right: 0px;

    padding: 25px;
    background-color: $main-background-color;
    overflow-y: scroll;

    &.is-open {
      display: block;
    }
  }
}

.nav-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 30px;
  }

  @media screen and (min-width: $desktop) {
    gap: 60px;
  }
}

.nav-list-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.nav-link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  color: $main-color;
  @include font($font-weight-regular, 12px, 1);
  letter-spacing: 2.4px;
  text-transform: uppercase;

  position: relative;

  &::before {
    @extend %underline;
    top: 30%;
  }

  &::after {
    @extend %underline;
    bottom: 35%;
    left: 0;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      transform: scale(1);
    }
  }

  @media screen and (min-width: $tablet) {
    padding-top: 45px;
    padding-bottom: 45px;

    &::before {
      top: 35%;
    }
  }
}

.active {
  &::before {
    @extend %underline;
    transform: scale(1);
    top: 30%;
  }

  &::after {
    @extend %underline;
    transform: scale(1);
    bottom: 35%;
    left: 0;
  }

  @media screen and (min-width: $tablet) {
    &::before {
      top: 35%;
    }
  }
}
