.presentation-wrap {
  background: $section-background-color;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;

  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 30px;
    padding-left: 70px;
    padding-right: 70px;
  }

  @media screen and (min-width: $desktop) {
    padding-left: 100px;
    padding-bottom: 0px;
  }
}

.presentation-gallery {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    gap: 30px;
    flex: 0 0 570px;
  }
}

.gallery-column {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}

.gallery-item {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: 260px;
  }
}

.gallery-item img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.desc-text {
  margin-top: 20px;
  margin-bottom: 20px;
  color: $desc-color;
  @include font($font-weight-thin, 16px, 1.6);
}
