.projects-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.project-thumb {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.project-thumb .overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform $time-function;

  padding-top: 48px;
  padding-bottom: 79px;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  height: 100%;
  background-color: $overlay;
}

.project-thumb:hover .overlay,
.link:focus .overlay {
  transform: translateY(0);
}

.overlay-title {
  margin-bottom: 14px;
  color: $white-color;
  font-weight: $font-weight-bold;
  // font-size: clamp(16px, 3vw, 64px);
  line-height: 1;
  text-transform: uppercase;
}

.overlay-link {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  color: $white-color;
  font-family: "Gothic A1", sans-serif;
  font-weight: $font-weight-regular;
  line-height: 1;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;

  svg {
    fill: currentColor;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: $white-color;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform $time-function;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      transform: scale(1);
    }
  }
}
