.button {
  @extend %button;
  transition: background-color $time-function, color $time-function;

  svg {
    fill: currentColor;
  }

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $secondary-background-color;
  }
}

.button-secondary {
  @extend %button;
  padding-top: 28.5px;
  padding-bottom: 28.5px;
  border: 1px solid $main-color;
  color: $white-color;
  background-color: $main-color;
  transition: background-color $time-function, color $time-function;

  svg {
    fill: currentColor;
  }

  &:hover,
  &:focus {
    color: $main-color;
    background-color: $main-background-color;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &--right {
    margin-left: auto;
  }
}
