.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.social-media {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: none;
  }
}

.social-media-tablet {
  display: none;
  text-align: center;
  margin-top: 40px;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: block;
  }
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;

  fill: $white-color;

  transition: scale $time-function;

  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}
