$main-color: #333;
$secondary-color: #BDBDBD;
$desc-color: #000;
$footer-text-color: rgba(200, 200, 200, 0.50);
$white-color: #FFF;
$placeholder-color: #8D8D8D;
$validation-color: #C30000;

$main-background-color: #FFF;
$secondary-background-color: #000;
$section-background-color: #FBFBFB;
$input-background-color: #F3F3F3;

$shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

$time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// $main-text-style: "Roboto", sans-serif;
// $secondary-text-style: "Raleway", sans-serif;

$mobile: 480px;
$tablet: 768px;
$desktop: 1440px;